.page {
    margin-left: 10px;
    margin: auto;
}

.content-area {
    margin-left: 4px;
    margin-top: 10px;
}

.table-holder {
    max-height: 800px;
    overflow: auto;
}

.big {
    height: 500px;
}

.table-title {
    text-align: center;
}

.add-button {
    margin: 10px;
}

.edit-button :hover {
    cursor: pointer;
}

.edit-button {
    text-decoration: none;
    color: gray
}
