<div class="graph card">
  <span class="card-title">Lichten aan per maand</span>
  <canvas class="graph" baseChart width="300" height="300"
            [data]="linechartData"
            [labels]="linechartLabels"
            [legend]="linechartLegend"
            [chartType]="linechartType"
            [colors]="linechartColors"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>
<div class="col-md-6" style="margin-bottom: 10px">
  <table class="table table-responsive table-condensed">
    <tr>
      <th *ngFor="let label of linechartLabels">{{label}}</th>
    </tr>
    <!-- FIXME Commented 3 lines of code due to not having the right data to load in -->
    <!--<tr *ngFor="let d of linechartData">
      <td *ngFor="let label of linechartLabels; let j=index">{{d && d.data[j]}}</td>
    </tr>-->
  </table>
</div>
